@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
